<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.helloworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Pick A Plot"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld"
        tools:replace="android:label">
        <activity android:name=".FullScreenImageActivity"></activity>
        <activity android:name=".WishlistActivity" />
        <activity android:name=".ReviewRequestActivity" />
        <activity android:name=".UpdatePicture" />
        <activity android:name=".ImageFolder" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".Requests_Activity" />
        <activity android:name=".Place_Details_activity" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".My_places_activity" />
        <activity android:name=".Add_Place_activity" />
        <activity
            android:name=".Launching_Activity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Registration" /> <!-- <activity android:name=".LandlordView" /> -->
        <activity
            android:name=".SignInScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>